label span, p span {
  color: #dc3545;
  margin-left: 3px;
  font-weight: 500;
  font-style: italic;
}
label, h6, h4 {
  color: #17a2b8;;
}
p {
  margin-bottom: 6px;
}
.card_font {
  font-size: 9pt;
}
.p-email {
  font-weight: 600;
}
.card-form {
  background-color: #FFFAFA;
}


